### 3.1 Basic Python

#### 3.1.1 Variable Declaration and Data Type

   Variables are placeholders for the value. You use the variable name to access the values stored.

   The Data type defines the nature of the data that is stored in the variable

In [1]:
x = 3000
print("Hey i'm a {} and my data type is {}".format(x, type(x)))

decimal = 31313.313
print("Hey i'm a {} and my data type is {}".format(decimal, type(decimal)))

cairn = "Hey! It's me"
print("{} and i'm a {}".format(cairn, type(cairn)))

cairn = [1,2,'apple','orange',4.4]
print('you have changed my datatype to {}'.format(type(cairn)))

cairn = {1:"one", 2:"two", "3":"three"}
print('Again! you have changed me to {}'.format(type(cairn)))

boolean_example = True
print("This is {} and my data type is {}".format(boolean_example, type(boolean_example)))

Hey i'm a 3000 and my data type is <class 'int'>
Hey i'm a 31313.313 and my data type is <class 'float'>
Hey! It's me and i'm a <class 'str'>
you have changed my datatype to <class 'list'>
Again! you have changed me to <class 'dict'>
This is True and my data type is <class 'bool'>

#### 3.1.2 Opearators

   Opeartors allows you to perform opeartions between two variables

In [2]:
# Arthimetic Operators - Add, Subtract, Multiply, division, modules, exponent, floor

variable_1 = 5
variable_2 = 10

add = variable_1 + variable_2
print("Addtion example: {}".format(add))

modules = 50%3
print("Getting remainder example: {}".format(modules))

floor = 5//2
print("Rounding off example: {}".format(floor))

# Comparison Operator 

print("is {} greater than {}: {}".format(variable_1, variable_2, variable_1>variable_2))

# Logical Opearator - and, or and not

# Membership Opeartor - in, not in

# Bitwise Opeartor - &, |, ~

Addtion example: 15
Getting remainder example: 2
Rounding off example: 2
is 5 greater than 10: False

#### 3.1.3 Functions

   Functions (also sometimes called 'methods') is a small piece of program that is built to solve a small part of the big problem

In [4]:
# Built-in functions
    
creating_list = list('Cairn Oil & Gas')

print(creating_list)

# User defined functions 

def my_function():
    print('I can create my own fucntion')
    
def func_with_parameters(a, b):
    addition = a + b
    subtraction = a-b
    multiply = a*b
    return(addition, subtraction, multiply)


my_function()
output = func_with_parameters(10, 5)
print(output)

['C', 'a', 'i', 'r', 'n', ' ', 'O', 'i', 'l', ' ', '&', ' ', 'G', 'a', 's']
I can create my own fucntion
(15, 5, 50)

In [49]:
# A lambda function that adds 10 to the number passed in as an argument, and print the result:

x = lambda a : a + 10

print(x(5))

15

In [48]:
# A lambda function that multiplies argument a with argument b and print the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [50]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

#### 3.1.4 Control Statements

   Control statements help to design the flow of the logic. It places conditions, continously iterate to generate the values  etc.

In [3]:
#Example 1

list_1 = ['1',1,'string','one']

for element in list_1:
    if type(element) is int:
        print("I'm a number")
    else:
        print("I'm a string")
        
#Example 2

empty_list = []
for number in range(1,10,3):
    empty_list.append(number)
print(empty_list)

I'm a string
I'm a number
I'm a string
I'm a string
[1, 4, 7]

#### 3.1.5 Data Structures

Python has four basic inbuilt data structures namely Lists, Dictionary, Tuple and Set.

<b>3.1.5.a List</b>

A list is similar to an array that consists of a group of elements or items. Just like an array, a list can store elements. But, there is one major difference between an array and a list. An array can store only one type of elements whereas a list can store different types of elements. Hence lists are more versatile and useful than an array. Perhaps lists are the most used datatype in Python programs.

In [1]:
# A simple list 
# Declaring a list 
L = [1, "a" , "string" , 1+2] 
print(L)

[1, 'a', 'string', 3]

In [2]:
type(L)

list

Creating Lists using range() function

range(start, stop, stepsize)

In [3]:
list_range = list(range(0,10,2))
print(list_range)

[0, 2, 4, 6, 8]

In [27]:
# Lets declare two list 

list_1 = [1,1,2,2,3,3,4,4]
list_2 = [5,5,6,6,7,7,8,8]

In [30]:
print(list_1[0])
print(list_1.index(3))

1
4

In [31]:
# append x in the end of the list
# list_name(x)
list_1.append(9)
list_1

[1, 1, 2, 2, 3, 3, 4, 4, 9]

In [32]:
# inserts x in the position specified by i
# list_name(i,x)
list_1.insert(3,10)
list_1

[1, 1, 2, 10, 2, 3, 3, 4, 4, 9]

In [33]:
# appends other list1 to existing list
# list.extend(list1)
list_1.extend(list_2)
list_1

[1, 1, 2, 10, 2, 3, 3, 4, 4, 9, 5, 5, 6, 6, 7, 7, 8, 8]

In [34]:
# Removes the ending element from the list
list_2.pop()
list_2

[5, 5, 6, 6, 7, 7, 8]

In [35]:
# Reverse the sequence of elements in the list
list_2.reverse()
list_2

[8, 7, 7, 6, 6, 5, 5]

In [36]:
# Count the occurance of an element in a list
list_2.count(5)

2

In [37]:
list_2.sort(reverse=True)
list_2

[8, 7, 7, 6, 6, 5, 5]

<b>3.1.5.b Tuples</b>

A tuple is a python sequence which stores a group of elements or items. Tuples are similar to lists but the main difference is tuples are immutable whereas lists are mutable. Since tuples are immutable, once we create a tuple we cannot modify its elements.

tup1 = ()

In [7]:
tup1[0]

NameError: name 'tup1' is not defined

In [8]:
tup2 = (10, 20, 'Hyderabad')

In [9]:
tup2[2]

'Hyderabad'

<b>3.1.5.c Dictionaries</b>

A dictionary represents a group of elements arranged in the form of key-value pairs. In the dictionary, the first element is considered as 'key' and the immediate next element is taken as its 'value'. The key and its value is separated by a colon (:).

All the key-value pairs in a dictionary are inserted in curly braces {}.

In [10]:
dict_1 = {'Name': 'Chandra',
        'ID': 54321,
        'Salary': 12500}

In [11]:
dict_1

{'Name': 'Chandra', 'ID': 54321, 'Salary': 12500}

In [41]:
# Return the value of key. If key doesnot exit, return d (defaults to None).

dict_1.get('Name')

'Chandra'

In [42]:
#Return a new view of the dictionary's items (key, value).

dict_1.items()

dict_items([('Name', 'Chandra'), ('ID', 54321), ('Salary', 12500)])

In [43]:
#Return a new view of the dictionary's keys.
dict_1.keys()

dict_keys(['Name', 'ID', 'Salary'])

In [44]:
# Return a new view of the dictionary's values
dict_1.values()

dict_values(['Chandra', 54321, 12500])

In [47]:
# Update the dictionary with the key/value pairs from other, overwriting existing keys.

dict_1.update({"C":431})
dict_1

{'Name': 'Chandra', 'ID': 54321, 'Salary': 12500, 'C': 431}

In [46]:
# Iterating over a dictionary
for k,v in dict_1.items():
    print(k,v)

Name Chandra
ID 54321
Salary 12500
C 431

<b>3.1.5.d Sets</b>

A Set is an unordered collection data type that is iterable, mutable and has no duplicate elements. Python’s set class represents the mathematical notion of a set. The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set.

In [12]:
# Python program to 
# demonstrate sets 
  
# Same as {"a", "b", "c"} 
Set = set(["a", "b", "c"]) 
  
print("Set: ") 
print(Set)

Set:
{'b', 'c', 'a'}

In [13]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [14]:
print(A|B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
print(A&B)

{4, 5}

In [18]:
A.intersection(B)

{4, 5}

In [19]:
B.intersection(A)

{4, 5}

In [20]:
print(A - B)

{1, 2, 3}

In [21]:
print(B - A)

{8, 6, 7}

In [22]:
A.difference(B)

{1, 2, 3}

In [23]:
B.difference(A)

{6, 7, 8}

In [24]:
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [25]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [26]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

### 3.2 Numpy

This package helps to apply and perform various numerical operations on dataframe

### 3.3 Pandas

This package helps to transform and combine dataframe in different formats for analysis

### 3.4 Visualization - Matplotlib, Seaborn

This help to visualize the data for analysis